.logo {
  position: relative;
  right: 45%;
  cursor: pointer;
}

.logo svg {
  z-index: 5;
  width: 90px;
  height: 30px;
}

.current {
  background-color: #E2A74D !important;
}

.selected a{
  color: #E2A74D;
  cursor: default;
}

.open {
  display: flex !important;
  left: 0 !important;
}

.catalog_section {
  margin-top: 100px;
}

.catalog_container {
  display: grid;
  grid-template-columns: repeat(auto-fill, 450px);
  row-gap: 10px;
  justify-content: space-between;
  margin: 0 40px;
}

.catalog_card {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding: 1.6px;
}

.slider_container {
  display: flex;
  position: relative;
  left: -101%;
}

.turn-left {
  left: -201%;
  transition-duration: 0.5s;
}

.turn-right {
  left: 0%;
  transition-duration: 0.5s;
}

.card_photo {
  max-width: 450px;
  max-height: 675px;
}

.slider_bar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  position: relative;
  z-index: 10;
  top: -6px;
  width: 100%;
}

.bar_item {
  width: 80px;
  height: 1px;
  background: #323232;
  transition-duration: 0.3s;
}

.card_description_wrapper {
  border: solid 1px #191412;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  align-items: center;
  height: 100%;
}

.card_photo_description_container {
  display: flex;
  flex-direction: column;
  /* justify-content: space-around; */
  align-items: center;
  color: transparent;
  padding: 5px;
}

.card_photo_price,
.card_photo_name,
.card_size_item {
  font-size: 0.6em;
  color: #958977;
  display: flex;
  margin: 0;
}

.card_zakaz_button {
  background-color: transparent;
  border: solid 2px #958977;
  padding: 5px 50px;
  cursor: pointer;
  color: #958977;
  font-size: 0.5em;
  transition-duration: 0.5ms;
}

.card_zakaz_button:hover {
  background-color: #191412;
}

.swiper_buttons{
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  bottom: 55%;
  width: 100%;
}

.swiper_button_back {
  transition-duration: 0.4ms;
  width: 10px;
  margin-left: 10px;
  filter: brightness(0.3);
}

.swiper_button_next{
  transition-duration: 0.4ms;
  width: 10px;
  rotate: 180deg;
  margin-right: 10px;
  filter: brightness(0.3);
}

.swiper_button_back:hover{
  filter: hue-rotate(180deg) brightness(1.7);
}

.swiper_button_next:hover{
  filter: hue-rotate(180deg) brightness(1.7);
}

.contacty_section {
  margin-top: 20px;
}


@media (max-width: 999px) { 

  .card_photo{
    max-width: 300px;
    max-height: 600px;
}
  .catalog_container {
    display: grid;
    grid-template-columns: repeat(auto-fill, 300px);
    margin: 0 20px;
  }
}

@media (max-width: 900px) { 

  .card_photo{
    max-width: 300px;
    max-height: 600px;
}
  .catalog_container {
    display: grid;
    grid-template-columns: repeat(auto-fill, 300px);
    margin: 0 20px;
  }
  .contacty_img {
    bottom: 260px;
    left: 100px;
  }

  .contacty_img img {
    width: 160%;
 }
}

@media (max-width: 800px) { 

  .logo {
      right: 0;
   }

   .logo svg {
    z-index: 5;
    width: 120px;
    height: 40px;
  }

  .nav_options {
    flex-direction: column;
    position: fixed;
    justify-content: flex-start;
    height: 100vh;
    width: 40%;
    top: 0px;
    bottom: 0;
    left: -100vw;
    right: 0;
    padding: 90px 40px 60px 40px;
    z-index: 5;
    overflow-y: auto;
    background-color: #040303eb;
    transition: all 0.4s ease;
    font-size: 1.8em;
    list-style: none;
    color: #958977;
    row-gap: 60px;
    margin: 0;
  }

  .menu {
    justify-content: center;
  }

  .burger_menu {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    width: 70px;
    height: 50px;
    z-index: 100;
    background-color: transparent;
    transition: 0.4s;
    margin: 15px;
  }

  .burger_menu::before, 
  .burger_menu::after, 
  .burger_menu span {
    content: '';
    position: absolute;
    height: 1.5px;
    width: 50px;
    background-color:  #929191;
    transition: all 0.3s ease-in-out;
    border-radius: 1px;
  }

  .burger_menu::before { top: 16.5px; }
  .burger_menu span { top: 23.5px; }
  .burger_menu::after { bottom: 17px; }

  .burger_menu.active span { 
    display: none;
  }

  .burger_menu.active::before {
    top: 50%;
    transform: rotate(-45deg) translate(0, -50%);
  } 

  .burger_menu.active::after {
    bottom: 50%;
    transform: rotate(45deg) translate(0, 50%);
  }

  .burger_menu.active {
    left: 38%;
    transition: all 0.5s ease-in-out;
  }

  .card_zakaz_button {
    padding: 5px 25px;
  }

  .footer_links_container {
    justify-content: space-evenly;
    column-gap: 30px;
  }
}

@media (max-width: 700px) { 

  .contacty_img {
    bottom: 235px;
    left: 40px;
  }

  .contacty_img img {
    width: 200%;
  }
}

@media (max-width: 650px) { 

  .card_photo{
    max-width: 200px;
    max-height: 600px;
  } 
  .catalog_container {
    grid-template-columns: repeat(auto-fill, 200px);
    margin: 0 20px;
  }

  .contacty_img {
    bottom: 230px;
    left: 10px;
  }

  .contacty_img img {
    width: 200%;
 }
}

@media (max-width: 600px) { 
  .contacty_img {
    max-width: 40%;
  }

  .contacty_img img {
    width: 500px;
    position: relative;
    right: 100px;
    bottom: -150px;
 }
}

@media (max-width: 440px) { 

  .catalog_section {
    display: flex;
    justify-content: center;
  }
  .card_photo{
    max-width: 350px;
    max-height: 600px;
  } 
  .catalog_container {
    grid-template-columns: repeat(auto-fill, 350px);
    margin: 0 10px;
    row-gap: 20px;
  }

  .card_zakaz_button {
    padding: 5px 50px;
  }

  .contacty_img {
    max-width: 30%;
}
}