/* .brend_otstup {
  margin-bottom: 70px;
} */

.brend_section {
  /* margin-bottom: 100px; */
  /* margin-top: 150px; */
  /* padding-top: 50px;
  padding-bottom: 50px; */
}

.brend_info_container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  transition: 0.5s;
}

.brend_photos_wrapper {
  margin-left: 50px;
  display: flex;
  flex-direction: row;
  width: 50%;
}

.brend_info_wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  z-index: 5;
  transition-duration: 0.4s;
  width: 100%;
}

.brend_title {
  color: #231201;
  text-align: justify;
  font-size: 3.5em;
  font-weight: 300;
  /* color: #bcb195; */
  margin: 0;
  width: 100%;
}

.brend_info {
  font-family: Bitter;
  color: #231201;
  font-size: 2em;
  font-weight: 300;
}

.brend_info_dop {
  display: flex;
  column-gap: 50px;
  /* height: 350px; */
}

.brend_info_img_container {
  position: relative;
}

.brend_info_img {
  /* background-image: url("../assets/desc_2.JPG"); */
  filter: brightness(0.7);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 760px;
  height: 720px;
  border-radius: 3px;
}

.brend_info_dop p {
  font-family: Bitter;
  color: #231201;
  text-indent: 30px;
  font-size: 2em;
  font-weight: 300;
  text-align: justify;
  align-content: center;
  line-height: 1.6em;
  padding: 60px;
}

.brend_button_left {
  background-color: #ffffff;
  /* background-color: transparent; */
  padding: 5px 5px;
  width: 170px;
  cursor: pointer;
  text-align: center;
  font-size: 1.5em;
  font-weight: 300;
  position: absolute;
  bottom: 0%;
  right: 0%;
  margin: -1px;
  border-radius: 2px;
  cursor: pointer;
}

.brend_button_right {
  background-color: #ffffff;
  padding: 5px 5px;
  width: 200px;
  cursor: pointer;
  text-align: center;
  font-size: 1.5em;
  font-weight: 300;
  position: absolute;
  bottom: 0%;
  left: 0%;
  margin: -1px;
  border-radius: 2px;
  cursor: pointer;
}


.brend_button_left a,
.brend_button_right a {
  text-decoration: none;
  /* color: #fffffff1; */
  color: #000000;
}

.brend_button_left:hover,
.brend_button_right:hover{
  background-color: transparent;
  /* background-color: #fffffff1; */
  filter: blur(2);
}

.brend_button_left:hover a,
.brend_button_right:hover a{
  color: #ffffff;
  /* color: #000000f1; */
}

@media (max-width: 700px) {

  .brend_title {
    font-size: 3em;
  }

  .brend_info {
    font-size: 1.5em;
  }

  .brend_info_dop p {
    text-align: left;
  }

}

@media (max-width: 650px) { 

  .brend_info_dop {
    column-gap: 25px;
    align-items: center;
  }

  .brend_info_dop img {
    width: 250px;
    height: 250px;
  }
}

@media (max-width: 590px) { 

  .brend_info_img {
    width: 200px;
  }

  .brend_info_dop p {
    text-indent: 0px;
    text-align: left;
    font-size: 1em;
  }
}

@media (max-width: 470px) {

  .brend_button_left, 
  .brend_button_right {
    width: 140px;
    font-size: 1.1em;
  }

  .brend_section {
    padding-bottom: 0px;
  } 

  .brend_info_dop {
    column-gap: 65px;
    height: 50vh;
  }

  .brend_info_img_container {
    width: 30vw;
    height: 50vh;
  }

  .brend_info_img {
    width: 40vw;
    height: 50vh;
  }
}

@media (max-width: 400px) {

  .brend_info_dop p {
    font-size: 0.83em;
  }

}