
/* .values_otstup {
  margin-bottom: 100px;
} */

.values_section{
  width: 100%;
  display: flex;
  flex-direction: row;
  row-gap: 50px;
}

.values_title_wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  position: relative;
}

.values_wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20vw, 1fr));
  grid-gap: 20px;
  justify-items: center;
  width: 100%;
  margin: 0 20px;
}

.value_item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.value_item img {
  max-width: 100%;
  filter: contrast(1.1) brightness(0.7);
  border-radius: 3px;
  border: 2px solid rgba(200, 177, 153, 0.612);
  z-index: 1;
  transition-duration: 0.6s;
}

.value_item:hover p {
  animation-name: text_anim;
  color: #d7cebfba;
  animation-duration: 1s; 
  animation-fill-mode: forwards;
}

.value_item:hover img {
  transform: scale(1.5);
  filter: brightness(0.3);
}


@keyframes text_anim {
  from {
    font-size: 1em;
    margin-bottom: 0px;
  }
  to {
    font-size: 1.7em;
    margin-bottom: 380px;
    padding: 0 10px;
  }
}

.value_item_border {
  border: 1px solid rgba(200, 177, 153, 0.359);
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: none;
  border-radius: 3px;
  z-index: 10;
  overflow: hidden;
}

.value_item p {
  font-family: -webkit-body;
  color: #d7cebf7a;
  width: 100%;
  font-size: 1em;
  position: absolute;
  z-index: 11;
  text-align: center;
  font-weight: 300;
  margin: 0;
  padding: 5px;
}


@media (min-width: 1650px) {
  @keyframes text_anim {
    from {
      font-size: 1em;
      margin-bottom: 0px;
    }
    to {
      font-size: 1.7em;
      margin-bottom: 415px;
    }
  }
}

@media (max-width: 1265px) {
  .value_item p {
    font-size: 1em;
  }
}

@media (max-width: 900px) {
  .values_wrapper {
    margin: 0 50px;
    grid-template-columns: repeat(auto-fill, minmax(31vw, 1fr));
  }
}

@media (max-width: 700px) {
  .values_wrapper {
    margin: 0 20px;
    grid-template-columns: repeat(auto-fill, minmax(31vw, 1fr));
  }
}

@media (max-width: 600px) {
  .values_wrapper {
    margin: 0 20px;
    grid-template-columns: repeat(auto-fill, minmax(45vw, 1fr));
  }
}

@media (max-width: 500px) {

  .values_section{
    flex-direction: column;
  }
  .values_wrapper{
    grid-template-columns: auto;
    padding-left: 25px;
    padding-right: 25px;
    margin: 0;
  }

  .value_item.value_animated p {
    animation-name: text_anim;
    color: #d7cebfba;
    animation-duration: 1s;
    animation-fill-mode: forwards;
  }
  
  .value_item.value_animated img {
    transform: scale(1.5);
    filter: brightness(0.3);
  }
}
