
/* .values_otstup {
  margin-bottom: 100px;
} */

.values_section{
  /* padding: 100px 0; */
  /* background-color: rgb(22, 19, 17); */
  width: 100%;
  display: flex;
  flex-direction: row;
  row-gap: 50px;
}

.values_title_wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  position: relative;
}

.values_wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20vw, 1fr));
  grid-gap: 10px;
  justify-items: center;
  width: 100%;
}

.value_item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  overflow: hidden;
}

.value_item img {
  max-width: 100%;
  filter: contrast(1.1) brightness(0.7);
  border-radius: 3px;
  transition: transform 0.6s, filter 0.6s;
  transform: scale(1.5);
  filter: brightness(0.33);
}

.value_item_border {
  position: relative;
  width: 100%;
  height: 110px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  border-top: none;
  border-radius: 3px;
}

.value_item p {
  position: absolute;
  width: 100%;
  font-size: 1.4em;
  position: absolute;
  z-index: 2;
  text-align: center;
  font-weight: 300;
  margin: 0;
  padding: 10px 20px;
  color: #bfbfbfc0;
  top: 0px;
  left: 0;
  transition: top 1s, padding 1s;
  top: -180px;
  padding: 0 20px;
  color: #bfbfbff2;
}

/* .value_item:hover p {
  top: -180px;
  padding: 0 20px;
  color: #bfbfbff2;
}

.value_item:hover img {
  transform: scale(1.5);
  filter: brightness(0.33);
} */



@media (max-width: 900px) {
  .values_wrapper {
    margin: 0 50px;
    grid-template-columns: repeat(auto-fill, minmax(31vw, 1fr));
  }
}

@media (max-width: 700px) {
  .value_item:hover p {
    top: 7px;
    animation-name: none;
    pointer-events: none;
  }
  .value_item:hover img {
    pointer-events: none;
    transform: none;
    filter: brightness(0.7);
  }
  
  .values_wrapper {
    margin: 0 20px;
    grid-template-columns: repeat(auto-fill, minmax(31vw, 1fr));
  }
}

@media (max-width: 600px) {
  .values_wrapper {
    margin: 0 20px;
    grid-template-columns: repeat(auto-fill, minmax(45vw, 1fr));
  }
}

@media (max-width: 500px) {

  .values_section{
    flex-direction: column;
  }
  .values_wrapper{
    grid-template-columns: auto;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0;
  }

  /* .value_animate_right {
    opacity: 0;
    transform: translateX(100px);
  }
  .value_animate_left {
    opacity: 0;
    transform: translateX(-100px);
  }

  .value_item.value_anim_show {
    opacity: 1;
    transition: all 1s;
    transform: translateX(0%);
  } */

}
