<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="./sertificat-zakaz-modal.css">
</head>
<body>

  <div class="contact-container">
    <div class="left-col">
      <img class="logo" src="../assets/favicon.svg"/>
    </div>
    <div class="right-col">
      <div class="close_modal"></div>

      <!-- <div class="theme-switch-wrapper">
      <label class="theme-switch" for="checkbox">
          <input type="checkbox" id="checkbox" />
          <div class="slider round"></div>
       </label>
      <div class="description">Dark Mode</div>
      </div> -->
      <!-- <div class="modal_info">
        <h1 class="modal_title">Виртуальная подарочная карта</h1>
        <p class="details_info">
          — Отправляется получателю по электронной почте.
          — После оформления возврату не подлежит
          — Действует на сайте и в бутиках.
        </p>
      </div> -->
      
      <form id="contact-form" method="post" action="https://formspree.io/f/mwkgabqy">
       <label for="nominal">Номинал сертификата</label>
          <select id="nominal" name="nominal" required>
            <option value="">Выберите номинал</option>
            <option value="50">50</option>
            <option value="100">100</option>
            <option value="200">200</option>
          </select>
        <!-- <label for="nominal">Номинал сертификата</label>
            <input type="text" id="nominal" name="nominal" placeholder="Введите желаемую сумму" required> -->
        <span class="separtor">О ВАС</span>
        <label for="name">Ваше имя</label>
        <input type="text" id="name" name="name" placeholder="Имя" required>
        <div id="error"></div>
    
        <label for="phone">Ваш телефон</label>
        <input type="phone" id="phone" name="phone" placeholder="Номер телефона" required>

        <label for="email">Ваш Email Address</label>
        <input type="email" id="email" name="email" placeholder="Email" required>
        <div id="error"></div>

        <span class="separtor">О ПОЛУЧАТЕЛЕ</span>

        <label for="name">Имя получателя</label>
        <input type="text" id="name" name="name" placeholder="Имя" required>
        <div id="error"></div>

          <label for="phone">Телефон получателя</label>
        <input type="phone" id="phone" name="phone" placeholder="Номер телефона" required>
        <div id="error"></div>
        <label for="message">Message</label>
            <textarea rows="6" placeholder="Можите дополнить ваш сертификат сообщением получателю" id="message" name="message"></textarea>
        <a href="javascript:void(0)"><button type="submit" id="submit" name="submit">Отправить</button></a>
      </form>
      <div id="success-msg"></div>
    </div>
  </div>
  <script type="module" src="./sertificat-modal.js"></script>
</body>
</html>