/* 
:root {
  --primary-color: #010712;
  --secondary-color: #818386;
  --bg-color: #FCFDFD;
  --button-color: #3B3636;
  --h1-color: #3F444C;
}

[data-theme="dark"] {
  --primary-color: #FCFDFD;
  --secondary-color: #818386;
  --bg-color: #010712;
  --button-color: #818386;
  --h1-color: #FCFDFD;
} */

* {
  margin: 0;
  box-sizing: border-box;
  transition: all 0.3s ease-in-out;
}

.contact-container {
  /* background: var(--bg-color); */
  background: #121212;
  display: none;
  width: 100vw;
  height: 100vh;
  z-index: 1000;
}

.left-col {
  width: 50vw;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.left-img {
  width: 50vw;
  height: 100%;
  filter: brightness(0.3);
}

.logo {
  background-image: url("../assets/favicon.svg");
  background-size: contain;
  background-repeat: no-repeat;
  width: 4rem;
  height: 5rem;
  position: absolute;
  bottom: 80px;
}

.right-col {
  /* background: var(--bg-color); */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50vw;
  height: 100vh;
  padding: 1rem 2.5rem;
  background: #121212;
}

.modal_info {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  position: absolute;
  padding: 0 3rem 19rem;
}

.modal_title {
  color:var(--h1-color);
  text-transform: uppercase;
  font-size: 2.5rem;
  letter-spacing: 0.5rem;
  font-weight: 300;
}

label, button, .description {
  font-family: 'Jost', sans-serif;
  font-weight: 400;
  letter-spacing: 0.1rem;
}

.details_info {
  /* color: var(--secondary-color); */
  font-size: 0.9rem;
  letter-spacing: 0.01rem;
  margin: 1.25rem 0 0;
  line-height: 1.5rem;
  text-align: center;
}

label, .description {
  /* color: var(--secondary-color); */
  text-transform: uppercase;
  font-size: 0.69rem;
}

form {
  width: 31.25rem;
  position: relative;
  padding: 1rem 0;
}

input, textarea, label {
  width: 35vw;
  display: block;
  margin-bottom: 0.23rem;
}

p, #placeholder, input, textarea {
  font-family: 'Helvetica Neue', sans-serif;
}

input::placeholder, textarea::placeholder {
  /* color: var(--primary-color); */
  color: #9589777b;
}

input, textarea, #nominal  {
  /* color: var(--primary-color); */
  /* border-bottom: 1px solid var(--secondary-color); */
  /* background: var(--bg-color); */
  color: #958977;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 1px solid #958977;
  font-weight: 500;
  font-size: 1em;
  padding: 0.4rem 0;
  margin-bottom: 1.4rem;
  margin-left: 2rem;
  outline: none;
  background: transparent;
  opacity: 0.5; 
}

input:focus-within, textarea:focus-within {
  transform: scale(1.1);
}

textarea {
  resize: none;
  height: 4rem;
}

.separtor {
  display: block;
  /* border-bottom: 1px solid #d57600; */
  width: 200px;
  margin-bottom: 30px;
  color: #c76e00;
}

.submit_button {
  background: transparent;
  border: solid 2px #a99c89;
  color: #958977;
  padding: 8px 35px;
  cursor: pointer;
  text-align: center;
  margin-top: 20px;
  font-weight: 400;
  transition-duration: 0.3s;
  z-index: 5;
  font-size: 1em;
  max-width: 400px;
  z-index: 0;
}

.submit_button:hover {
  color: #b17d00;
  border: solid 2px #b17d00;
}

/* button {
  text-transform: uppercase;
  font-weight: 300;
  background: var(--button-color);
  color: var(--bg-color);
  width: 10rem;
  height: 2.25rem;
  border: none;
  border-radius: 2px;
  outline: none;
  cursor: pointer;
} */

input:hover, textarea:hover, button:hover {
  opacity: 1;
}

button:active {
  opacity: 0.8;
}

/* Toggle Switch */

.theme-switch-wrapper {
  display: flex;
  align-items: center;
  text-align: center;
  width: 160px;
  position: absolute;
  top: 0.5rem;
  right: 0;
}

.description {
    margin-left: 1.25rem;
  }

.theme-switch {
  display: inline-block;
  height: 34px;
  position: relative;
  width: 60px;
}

.theme-switch input {
  display:none;
}

.slider {
  background-color: #ccc;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: .4s;
}

.slider:before {
  background-color: #fff;
  bottom: 0.25rem;
  content: "";
  width: 26px;
  height: 26px;
  left: 0.25rem;
  position: absolute;
  transition: .4s;
}

input:checked + .slider {
  background-color: var(--button-color);
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

#error, #success-msg {
  width: 40vw;
  margin: 0.125rem 0;
  font-size: 0.75rem;
  text-transform: uppercase;
  font-family: 'Jost';
  color: var(--secondary-color);
  }

  #success-msg {
  transition-delay: 3s;
  }

@media only screen and (max-width: 950px) {
  .logo {
    width: 8rem;
  }
  h1 {
    font-size: 1.75rem;
  }
  p {
    font-size: 0.7rem;
  }
  input, textarea, .submit_button {
    font-size: 0.65rem;
  }
  .description {
    font-size: 0.3rem;
    margin-left: 0.4rem;
  }
  .submit_button {
    width: 9rem;
  }
  .theme-switch-wrapper {
    width: 120px;
  }
  .theme-switch {
  height: 28px;
  width: 50px;
}

.theme-switch input {
  display:none;
}

.slider:before {
  background-color: #fff;
  bottom: 0.25rem;
  content: "";
  width: 20px;
  height: 20px;
  left: 0.25rem;
  position: absolute;
  transition: .4s;
}
  input:checked + .slider:before {
  transform: translateX(16px);
}

.slider.round {
  border-radius: 15px;
}

.slider.round:before {
  border-radius: 50%;
}
}


@media (max-width: 650px) {
  .modal_title {
    font-size: 1.5rem;
  }

  .details_info {
    font-size: 1rem;
  }
}

@media (max-width: 500px) {
  .modal_title {
    font-size: 1rem;
  }

  .details_info {
    font-size: 0.7rem;
  }
  .left-col {
    width: 40vw;
  }

  .left-img {
    width: 40vw;
    height: 100vh;
  }

  .logo {
    width: 5rem;
    height: 3rem;
  }

  form {
    padding-left: 2rem;
  }

  .right-col {
    padding: 2rem 0;
    margin-left: 10px;
  }
}

@media (max-width: 450px) {
  .modal_title {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.2rem;
  }

  .details_info {
    font-size: 0.6rem;
  }

  .modal_info {
    margin-bottom: 100px;
    padding: 0;
    -webkit-writing-mode: vertical-rl;
    transform: rotate(180deg);
   }

  form {
    padding-left: 2rem;
  }

  .close_modal {
    right: 15px !important;
    top: 0px !important;
  }

  .close_modal::before, .close_modal::after {
    height: 1.5px;
    width: 20px !important;
  }
}

/* close modal button */
.close_modal {
  display: flex;
  justify-content: end;
  height: 50px;
  background-color: transparent;
  transition: all 0.3s ease-in-out;
  position: absolute;
  right: 30px;
  top: 10px;
  cursor: pointer;
  z-index: 100;
}

.close_modal::before, 
.close_modal::after {
  content: '';
  position: absolute;
  height: 1.5px;
  width: 30px;
  background-color:  #929191;
  border-radius: 1px;
  transition: all 0.5s ease-in-out;
}

.close_modal::before { top: 16.5px; }
.close_modal::after { bottom: 17px; }


.close_modal::before {
  top: 50%;
  transform: rotate(-45deg) translate(0, -50%);
} 

.close_modal::after {
  bottom: 50%;
  transform: rotate(45deg) translate(0, 50%);
}

.close_modal:hover {
  transform: scale(1.2);
}