/* @font-face {
  font-family: 'ViaodaLibre';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/Viaoda_Libre/ViaodaLibre-Regular.ttf')
} */
@font-face {
  font-family: 'Bitter';
  font-style: normal;
  src: url('./fonts/Bitter/Bitter-VariableFont_wght.ttf')
}

body, html {
  overflow-x: hidden;
  }

html {
  width: 100%;
  height: 100vh;
  margin: 0;
}

.site_header{
  display: flex;
  justify-content:space-between;
  animation: page-appearance 0.3s ease;
}

.site_body {
  margin: 0;
  padding: 0;
  /* background-color: #e9e9e9; */
  background-color: #252424;
  color: #958977;
  font-family: Bitter;
  font-style: normal;
  /* overflow-x: hidden; */
}

.menu {
  z-index: 2;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin: 20px 0px;
  position: absolute;
  color: #958977;
}

.nav_options {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 20px;
  font-size: 15px;
  list-style: none;
  margin-left: 20px;
  color: #958977;
  transition: all 0.4s ease;
}
.option {
  cursor: pointer;
}
.option a {
  text-decoration: none;
  color: #958977;
}
.option a:hover {
  color: #E2A74D;;
}

.nav_media_icons {
  z-index: 2;
  display: flex;
  align-items: center;
  margin-right: 80px;
  column-gap: 20px;
}

.nav_inst{
  cursor: pointer;
}
.nav_telega {
  cursor: pointer;
}
.nav_media_icons a:hover svg path {
  fill: #E2A74D;
}

.main_section {
  position: relative;
  max-width: 100%;
  display: flex;
  flex-direction: column;
}

.dance_video {
  z-index: 1;
  width: 100%;
  height: 100%;
  filter: brightness(0.4);
}

.main_img {
  background: url(./assets/IMG_back11.png) center no-repeat;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 1;
  width: 100%;
  filter: brightness(0.3) blur(2px) grayscale(1);
  height: 120vh;
}

.main_brend_wrapper {
  z-index: 5;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  top: 25%;
}

.brend_wrapper path {
  z-index: 5;
}

.main_slogan {
  display: flex;
  align-items: center;
  font-size: 30px;
  color: #CA9C4D;
  font-weight: 100;
}

.poshiv_section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 150px;
}

.poshiv_title_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 50px;
}

.poshiv_title {
  margin: 0;
  font-size: 70px;
  font-weight: 400;
  /* color: #b17d00; */
  background: -webkit-linear-gradient(217deg, #ffb708 0%, #b17d00 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.poshiv_area {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 100px;
  max-width: 700px;
  align-items: center;
  border: 1px solid #b17d00;
  padding: 10px;
}

.poshiv_text_area {
  display: flex;
  justify-content: center;
  align-items: center;
  /* width: 50%; */
  z-index: 5;
}

.poshiv_text_area p{
  /* mix-blend-mode: color-burn; */
  font-size: 25px;
  font-weight: 300;
  /* color: #323232; */
  max-width: 600px;
  text-align: center;
}

.poshiv_button_area {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.poshiv_zakazat_button {
  /* background-color: #191412; */
  border: solid 2px #958977;
  padding: 15px 17px;
  cursor: pointer;
  text-align: center;
  margin: 0;
  color: #958977;
  font-weight: 400;
  transition-duration: 0.3s;
  z-index: 5;
}

.poshiv_zakazat_button:hover {
  /* background: #191412; */
  color: #b17d00;
  border: solid 2px #b17d00;
}

.fabric_1 {
  position: absolute;
  right: -200px;
  width: 750px;
  z-index: -1;
  top: 230%;
  /* filter: blur(2px); */
  filter: brightness(0.6);
  transform: rotate(80deg);
}

.fabric_2 {
  position: absolute;
  left: -200px;
  width: 700px;
  z-index: -1;
  top: 270%;
  /* filter: blur(2px); */
  filter: brightness(0.6);
  transform: rotate(216deg);
}

.dostavka_title_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 150px 0 35px;
}

.dostavka_title {
  margin: 0;
  font-size: 70px;
  font-weight: 400;
  color: #b17d00;
  z-index: 5;
}

.dostavka_info_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.dostavka_info_container p{
  text-align: center;
  color: #958977;
  font-size: 20px;
  margin: 10px 0 3px;
}

.dostavka_info_container h3 {
  color: #958977;
  font-weight: 500;
  font-size: 30px;
  margin: 15px 0 10px;
}
.bold {
  background: -webkit-linear-gradient(96deg, #ffca24 0%, #c28531 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* .dostavka_info_container h3:nth-of-type(2)::after {
  content: '©';
} */

.dostavka_info_container h3 svg {
  margin: 0 0 13px;
  cursor: pointer;
}
.dostavka_info_container h3 svg path {
  fill: #958977;
  margin: 0;
}
.dostavka_info_container h3 svg:hover {
  /* background: #323232; */
  background: #958977;
  border-radius: 100%;
}

.sertificat_section {
  margin-top: 150px;
}


.sertificat_title_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 150px 0 35px;
}

.sertificat_title {
  margin: 0 0 100px 0;
  font-size: 70px;
  font-weight: 400;
  color: #b17d00;
  text-align: center;
}

.sertificat_info_container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0 50px;
}

.print {
  position: absolute;
  z-index: -1;
  width: 100%;
  filter: brightness(0.4) blur(3px);
}

.envelope {
  width: 50%;
  margin: 0;
}

.envelope img {
  width: 70%;
  transform: rotateZ(339deg);
  margin: 100px 50px;
  box-shadow: 20px 20px 12px #00000047;
}

.envelope svg {
  width: 170px;
  height: 60px;
  position: relative;
  left: 210px;
  bottom: 360px;
  transform: rotate(340deg);
  filter: brightness(0.5);
}

.serf_info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: -100px;
  justify-content: flex-start;
  max-height: 700px;
}

.serf_info p {
  font-size: 25px;
  font-weight: 300;
  /* color: #323232; */
  text-align: center;
  margin: 0 0 30px 0;
}
.serf_zakazat_button {
  /* background: #191412; */
  border: solid 2px #958977;
  padding: 15px 17px;
  cursor: pointer;
  text-align: center;
  margin-top: 20px;
  color: #958977;
  font-weight: 400;
  transition-duration: 0.3s;
  z-index: 5;
  font-size: 20px;
}

.serf_zakazat_button:hover {
  /* background: #191412; */
  color: #b17d00;
  border: solid 2px #b17d00;
}

.contacty_section {
  overflow: hidden;
}

.contacty_title_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 150px 0 35px;
}

.contacty_title {
  margin: 0;
  font-size: 70px;
  font-weight: 400;
  color: #b17d00;
}

.footer_links_container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  height: 340px;
  z-index: 0;
}

.contacty_img {
  position: relative;
  bottom: 288px;
  left: 170px;
  z-index: 5;
  max-width: 500px;
}

.contacty_img img {
  filter: drop-shadow(rgba(0, 0, 0, 0.827) -17px 2px 13px) brightness(0.6);
  width: 140%;
}

.footer_links {
  display: flex;
  flex-direction: column;
  font-size: 20px;
  list-style: none;
  color: #958977;
  transition: all 0.4s ease;
  row-gap: 20px;
  cursor: pointer;
}

.link a {
  text-decoration: none;
  color: #958977;
}

.link a:hover {
  color: #E2A74D;;
}

.footer_inst a{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.footer_telega a{
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
}
.footer_inst p,
.footer_telega p {
  margin-left: 10px;
  font-size: 20px;
  color: #958977;
  text-decoration: none;
}
.footer_inst a,
.footer_telega a {
  text-decoration: none;
}

.footer_inst p:hover,
.footer_telega p:hover {
  color: #E2A74D;;
}

@media (max-width: 640px) {
  .header_logo h1 {  
      font-size: 1.5em;
  }
  .logo {
      width: 70px;
      height: 45px;
  }
}