
@font-face {
  font-family: 'Bitter';
  font-style: normal;
  src: url('./fonts/Bitter/Bitter-VariableFont_wght.ttf')
}

html {
  width: 100%;
  height: 100vh;
  margin: 0;
  overflow-x: hidden;
  font-size: 20px;
  scroll-behavior: smooth;
}

.touch-auto {
  touch-action: auto;
}

.site_header{
  display: flex;
  justify-content:space-between;
  animation: page-appearance 0.3s ease;
}

.site_body {
  margin: 0;
  padding: 0;
  background-color: #2C2C2C;
  color: #958977;
  font-family: Bitter;
  font-style: normal;
  overflow-x: hidden;
}

.menu {
  z-index: 100;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin: 20px 0px;
  position: absolute;
  color: #958977;
}

.nav_options {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 20px;
  font-size: 0.8em;
  list-style: none;
  color: #958977;
  transition: all 0.4s ease;
}

.option {
  cursor: pointer;
}

.option a {
  text-decoration: none;
  color: #958977;
}

.option a:hover {
  color: #E2A74D;;
}

.open {
  display: flex !important;
  left: 0 !important;
}

.nav_media_icons {
  z-index: 2;
  display: flex;
  align-items: center;
  margin-right: 80px;
  column-gap: 20px;
}

.nav_inst{
  cursor: pointer;
}
.nav_telega {
  cursor: pointer;
}
.nav_media_icons a:hover svg path {
  fill: #E2A74D;
}

.main_section {
  position: relative;
  max-width: 100%;
  display: flex;
  flex-direction: column;
}

.dance_video {
  z-index: 1;
  width: 100%;
  height: 100%;
  filter: brightness(0.4);
}

.main_img {
  background: url(./assets/IMG_back11.png) center no-repeat;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 1;
  width: 100%;
  filter: brightness(0.3) blur(2px);
  height: 120vh;
}

.main_brend_wrapper {
  z-index: 1;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  top: 25%;
}

.brend_wrapper path {
  z-index: 5;
}

.main_slogan {
  display: flex;
  align-items: center;
  color: #CA9C4D;
  font-weight: 100;
}

.poshiv_section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 150px;
}

.poshiv_title_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 50px;
}

.poshiv_title {
  margin: 0;
  font-size: 3.5em;
  font-weight: 400;
  text-align: center;
  /* color: #b17d00; */
  background: -webkit-linear-gradient(217deg, #ffb708 0%, #b17d00 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.poshiv_area {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 50px;
  max-width: 700px;
  align-items: center;
  border: 1px solid #b17d00;
  padding: 30px;
}

.poshiv_text_area {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 5;
}

.poshiv_text_area p{
  /* mix-blend-mode: color-burn; */
  font-size: 1.25em;
  font-weight: 300;
  /* color: #323232; */
  max-width: 600px;
  text-align: center;
}

.poshiv_button_area {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width: 100%;
}

.poshiv_zakazat_button {
  /* background-color: #191412; */
  border: solid 2px #958977;
  padding: 15px 17px;
  cursor: pointer;
  text-align: center;
  margin: 0;
  color: #958977;
  font-weight: 400;
  transition-duration: 0.3s;
  z-index: 5;
  width: 100%;
}

.poshiv_zakazat_button:hover {
  /* background: #191412; */
  color: #b17d00;
  border: solid 2px #b17d00;
}

.fabric_1 {
  position: relative;
  width: 700px;
  z-index: -1;
  filter: brightness(0.6);
  transform: rotate(95deg);
  left: 70%;
  bottom: 800px;
  margin-bottom: -615px;
  transition-duration: 0.4s;
}

.fabric_2 {
  position: relative;
  width: 700px;
  z-index: -1;
  filter: brightness(0.6);
  transform: rotate(216deg);
  right: 13%;
  top: 870px;
  margin-top: -500px;
  transition-duration: 0.4s;
}

.dostavka_title_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 150px 0 35px;
}

.dostavka_title {
  margin: 0;
  font-size: 3.5em;
  font-weight: 400;
  color: #b17d00;
  z-index: 5;
}

.dostavka_info_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.dostavka_info_container p{
  text-align: center;
  color: #958977;
  font-size: 1em;
  margin: 10px 0 3px;
}

.dostavka_info_container h3 {
  color: #958977;
  font-weight: 500;
  font-size: 1.5em;
  margin: 15px 0 10px;
}
.bold {
  background: -webkit-linear-gradient(96deg, #ffca24 0%, #c28531 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.tooltiptext {
  position: absolute;
  visibility: hidden;
  background-color: #1b1818;
  color: #958977;
  text-align: center;
  border-radius: 10px;
  padding: 10px;
  z-index: 5;
  font-size: 0.4em;
}

/* .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
} */


/* .dostavka_info_container h3:nth-of-type(2)::after {
  content: '©';
} */

.dostavka_info_container h3 svg {
  margin: 0 0 13px;
}
.dostavka_info_container h3 svg path {
  fill: #958977;
  margin: 0;
}

.sertificat_section {
  margin: 150px 0 100px 0;
}

.sertificat_title_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sertificat_title {
  margin: 0 0 100px 0;
  font-size: 3.5em;
  font-weight: 400;
  color: #b17d00;
  text-align: center;
  width: 101%;
}

.sertificat_info_container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0 50px;
  max-width: 97%;
}

.print {
  position: absolute;
  z-index: -1;
  width: 100%;
  filter: brightness(0.4) blur(3px);
}

.envelope {
  width: 50%;
  margin: 0;
}

.envelope img {
  transform: rotateZ(339deg);
  margin: 100px 50px;
  box-shadow: 20px 20px 12px #00000047;
  transition: ease 0.6s;
}

.envelope svg {
  width: 170px;
  height: 60px;
  position: relative;
  left: 210px;
  bottom: 360px;
  transform: rotate(340deg);
  filter: brightness(0.5);
}

.serf_info {
  display: flex;
  flex-direction: column;
  max-height: 700px;
  z-index: 5;
  margin: 0;
  width: -webkit-fill-available;
}

.serf_info p {
  font-size: 1.25em;
  font-weight: 300;
  /* color: #323232; */
  text-align: center;
  margin: 0 0 30px 0;
  z-index: 5;
}
.serf_zakazat_button {
  /* background: #191412; */
  border: solid 2px #958977;
  padding: 15px 17px;
  cursor: pointer;
  text-align: center;
  margin-top: 20px;
  color: #958977;
  font-weight: 400;
  transition-duration: 0.3s;
  z-index: 5;
  font-size: 1em;
}

.serf_zakazat_button:hover {
  /* background: #191412; */
  color: #b17d00;
  border: solid 2px #b17d00;
}

.contacty_section {
  overflow: hidden;
}

.contacty_title_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 100px 0 35px;
}

.contacty_title {
  margin: 0;
  font-size: 3.5em;
  font-weight: 400;
  color: #b17d00;
}

.footer_links_container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  height: 220px;
  z-index: 0;
}

.contacty_img {
  position: relative;
  bottom: 283px;
  right: 211px;
  z-index: 5;
  max-width: 500px;
  transition-duration: 0.3s;
}

.contacty_img img {
  filter: drop-shadow(rgba(0, 0, 0, 0.827) -17px 2px 13px) brightness(0.6);
  width: 700px;
  position: absolute;
  z-index: 6;
}

.footer_links {
  display: flex;
  flex-direction: column;
  font-size: 1em;
  list-style: none;
  color: #958977;
  transition: all 0.4s ease;
  row-gap: 20px;
  cursor: pointer;
  padding: 0;
}

.link a {
  text-decoration: none;
  color: #958977;
}

.link a:hover {
  color: #E2A74D;;
}

.footer_inst a{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.footer_telega a{
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
}
.footer_inst p,
.footer_telega p {
  margin-left: 10px;
  color: #958977;
  text-decoration: none;
}
.footer_inst a,
.footer_telega a {
  text-decoration: none;
}

.footer_inst p:hover,
.footer_telega p:hover {
  color: #E2A74D;;
}

/* Footer styles*/
footer {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.copyright, 
.secure {
  font-size: 0.5em;
  color: #bfbfbfc0;
  text-align: center;
  margin-left: 15px;
}
.copyright span, 
.secure {
  color: #bfbfbfc0;
}

.secure {
  cursor: pointer;
}

.copyright span:hover,
.secure:hover {
  color: #d3d3d3b6;
}
.copyright:before {
  content: '©';
}


@media (max-width: 900px) {
    .envelope {
      position: absolute;
      justify-content: center;
      display: flex;
    }
    .envelope img {
      transform: rotateZ(12deg);
      filter: blur(5px);
    }

    html {
      font-size: 15px;
    }

    .fabric_2 {
      right: 24%;
      top: 940px;
    }
    .fabric_1 {
      left: 60%;
      bottom: 800px;
    }

    .contacty_img {
      bottom: 80%;
      right: 25%;
      opacity: 0.8;
    }

    .contacty_img img {
   }
  
}

@media (max-width: 800px) {

  .nav_options {
    flex-direction: column;
    position: fixed;
    justify-content: flex-start;
    height: 100vh;
    width: 40%;
    top: 0px;
    bottom: 0;
    left: -100vw;
    right: 0;
    padding: 90px 40px 60px 40px;
    z-index: 5;
    overflow-y: auto;
    background-color: #403f3de3;
    transition: all 0.4s ease;
    font-size: 1.8em;
    list-style: none;
    color: #958977;
    row-gap: 60px;
    margin: 0;
  }

  .menu {
    justify-content: center;
  }

  .burger_menu {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    width: 70px;
    height: 50px;
    z-index: 100;
    background-color: transparent;
    transition: all 0.5s ease-in-out;
    margin: 15px;
  }

  .burger_menu::before, 
  .burger_menu::after, 
  .burger_menu span {
    content: '';
    position: absolute;
    height: 1.5px;
    width: 50px;
    background-color:  #929191;
    border-radius: 1px;
    transition: all 0.5s ease-in-out;
  }

  .burger_menu::before { top: 16.5px; }
  .burger_menu span { top: 23.5px; }
  .burger_menu::after { bottom: 17px; }

  .burger_menu.active span { 
    display: none;
  }

  .burger_menu.active::before {
    top: 50%;
    transform: rotate(-45deg) translate(0, -50%);
  } 

  .burger_menu.active::after {
    bottom: 50%;
    transform: rotate(45deg) translate(0, 50%);
  }
  
  .burger_menu.active {
    left: 38%;
    transition: all 0.5s ease-in-out;
  }


  .brend_photo_1 img {
    filter: grayscale(0) !important;
    max-width: 100% !important;
  }

  .brend_photo_2 img {
    display: none;
  }

  .brend_photo_2  {
    margin-left: 0;
  }

  .fabric_2 {
    right: 30%;
    top: 960px;
  }
  .fabric_1 {
    left: 57%;
    bottom: 800px;
  }

  .footer_links_container {
    justify-content: space-evenly;
    column-gap: 30px;
  }

}

@media (max-width: 700px) {

  .main_brend_wrapper svg {
    width: 300px;
  }

  .sertificat_title,
  .contacty_title,
  .dostavka_title,
  .poshiv_title {
    font-size: 3em;
  }

  .brend_photos_wrapper {
    display: none;
    width: 0%;
  }

  .brend_photo_1 img {
    display: none;
  }

  .fabric_2 {
    filter: brightness(0.6) blur(2px);
    right: 45%;
    top: 994px;
  }

  .fabric_1 {
    filter: brightness(0.6) blur(2px);
    left: 50%;
    bottom: 800px;
  }

  .contacty_img {
    bottom: 76%;
    right: 36%;
    opacity: 0.6;
  
  }

  .contacty_img img {
  }

  .envelope img {
    width: 300px;
    margin-bottom: 340px;
}
}

@media (max-width: 650px) { 

  .sertificat_title,
  .contacty_title,
  .dostavka_title,
  .poshiv_title {
    font-size: 2.5em;
  }

  .contacty_img {
    right: 44%;
  }

}


@media (max-width: 600px) { 
  .fabric_2 {
    filter: brightness(0.6) blur(2px);
    right: 50%;
    top: 994px;
  }

  .fabric_1 {
    filter: brightness(0.6) blur(2px);
    left: 50%;
    bottom: 800px;
  }

  .contacty_img {
  }

}

@media (max-width: 450px) {
  .fabric_2 {
    filter: brightness(0.6) blur(2px);
    right: 70%;
    top: 994px;
  }

  .fabric_1 {
    filter: brightness(0.6) blur(2px);
    left: 30%;
    bottom: 800px;
  }

  .sertificat_title,
  .contacty_title,
  .dostavka_title,
  .poshiv_title {
    font-size: 2em;
  }
  .contacty_img {
    right: 65%;
    opacity: 0.2;
  }
}