.poshiv_otstup {
  margin-bottom: 100px;
}

.poshiv_section{
  padding-top: 150px;
  padding-bottom: 150px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  width: 100%;
  background: #f3e6dbc4;
  column-gap: 30px;
}

.poshiv_title_wrapper {
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  margin-left: 50px;
}

.poshiv_title {
  color: #231201;
  text-align: justify;
  font-size: 3em;
  font-weight: 300;
  margin: 0;
}

.poshiv_area {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.poshiv_dash {
  display: flex;
  width: 600px;
  border: 1px solid #231201;
}

.poshiv_area p {
  margin: 0;
  color: #231201;
  font-size: 1.2em;
  text-align: justify;
  padding: 80px;
  line-height: 1.6em;
}

.highlight {
  color: #5f2f00;
  font-weight: 800;
}

.poshiv_button_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width: 100%;
}

.poshiv_zakazat_button {
  background-color: #19141282;
  border: solid 2px #958977;
  padding: 15px 17px;
  cursor: pointer;
  text-align: center;
  margin: 0;
  font-weight: 400;
  transition-duration: 0.3s;
  z-index: 5;
  max-width: 400px;
}

.poshiv_zakazat_button:hover {
  /* background: #191412; */
  color: #b17d00;
  border: solid 2px #b17d00;
}


@media (max-width: 900px) {

}

