 <div class="modal_overlay">
    <div class="modal_window">
      <h2 class="modal_title">Расчитать стоимость индивидуального пошива</h2>
      <div class="modal_content">

        <div class="left_block">
          <div class="sample_item">
            <img class="samples_img" src="./components/main-page/assets/samples/sample1.png" alt="">
            <p class="sample_name">Материал</p>
          </div>
          <div class="sample_item">
            <img class="samples_img" src="./components/main-page/assets/samples/sample2.png" alt="">
            <p class="sample_name">Материал</p>
          </div>
          <div class="sample_item">
            <img class="samples_img" src="./components/main-page/assets/samples/sample2.png" alt="">
            <p class="sample_name">Материал</p>
          </div>
          <div class="sample_item">
            <img class="samples_img" src="./components/main-page/assets/samples/sample2.png" alt="">
            <p class="sample_name">Материал</p>
          </div>
          <div class="sample_item">
            <img class="samples_img" src="./components/main-page/assets/samples/sample2.png" alt="">
            <p class="sample_name">Материал</p>
          </div>
          <div class="sample_item">
            <img class="samples_img" src="./components/main-page/assets/samples/sample3.png" alt="">
            <p class="sample_name">Материал</p>
          </div>
        </div>

        <div class="right_block">
          <form class="form">
            <div class="name_prop">
              <label for="name">Имя:</label><br>
              <input type="text" id="name" name="name"><br>
            </div>

            <div class="body_prop">
                <div class="property">
                  <label for="chest">Обхват груди:</label>
                  <input type="text" id="chest" name="chest">
                </div>

                <div class="property">
                  <label for="waist">Обхват талии:</label>
                  <input type="text" id="waist" name="waist">
                </div>

                <div class="property">
                  <label for="hips">Обхват бедер:</label>
                  <input type="text" id="hips" name="hips">
                </div>

                <div class="property">
                  <label for="height">Рост:</label>
                  <input type="text" id="height" name="height">
                </div>

            </div>

            <div class="item_chooser">
              <div class="item_chooser_btn">
                <span class="btn-lable">Выбрать предмет</span>
                <span class="arrow-dwn">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M233.4 406.6c12.5 12.5 32.8 12.5 45.3 0l192-192c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L256 338.7 86.6 169.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l192 192z"/></svg>
                </span>
              </div>
              <ul class="items_container">
                <li class="clothes_item">
                  <span class="checkbox">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M438.6 105.4c12.5 12.5 12.5 32.8 0 45.3l-256 256c-12.5 12.5-32.8 12.5-45.3 0l-128-128c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0L160 338.7 393.4 105.4c12.5-12.5 32.8-12.5 45.3 0z"/></svg>
                  </span>
                  <span class="clothes_item_name">Top</span>
                </li>
                <li class="clothes_item">
                  <span class="checkbox">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M438.6 105.4c12.5 12.5 12.5 32.8 0 45.3l-256 256c-12.5 12.5-32.8 12.5-45.3 0l-128-128c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0L160 338.7 393.4 105.4c12.5-12.5 32.8-12.5 45.3 0z"/></svg>
                  </span>
                  <span class="clothes_item_name">Платье</span>
                </li>
              </ul>
            </div>

            <div class="number_prop">
              <label for="number">Номер телефона:</label><br>
              <input type="text" id="number" name="number">
            </div>
          </form>
        </div>
      </div>
      <div class="modal_btn_container">
        <button class="modal_close_button">Отправить</button>
      </div>
    </div>
  </div>