
@font-face {
  font-family: 'Bitter';
  font-style: normal;
  src: url('./content/main-page/assets/fonts/Bitter/Bitter-VariableFont_wght.ttf')
}

@font-face {
  font-family: 'Dancing_Script';
  src: url('./content/main-page/assets/fonts/Dancing_Script/DancingScript-VariableFont_wght.ttf')
}

:root {
  --animate-duration: 2s;
}

* {
  margin: 0;
  box-sizing: border-box;
  transition: all 0.3s ease-in-out;
}

html {
  width: 100%;
  height: 100vh;
  margin: 0;
  color: #958977;
  background-color: #ebebeb;
  overflow-x: hidden;
  font-size: 15px;
  scroll-behavior:smooth;
  font-family: Bitter;
}

a {
  text-decoration: none;
  color: #bfbfbfc0;
  cursor: pointer;
}

a:hover {
  color: #bfbfbfde;
}

.touch-auto {
  touch-action: auto;
}

.site_body {
  margin: 0;
  padding: 0;
  background-color: #ede6e6ed;
  color: #ccc9c5;
  font-style: normal;
  overflow-x: hidden;
}

.site_header{
  display: flex;
  justify-content:space-between;
  animation: page-appearance 0.3s ease;
  position: relative;
}

.site_main {
  display: flex;
  flex-direction: column;
}

.menu {
  z-index: 100;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 100%;
  padding: 20px 50px;
  position: absolute;
}

.nav_options {
  padding: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 15px;
  font-size: 1em;
  list-style: none;
  transition: all 0.4s ease;
}

.follow_us, .dostavka, .sertificat{
  display: none;
  color: #bfbfbfc0;
}

.socials_container {
  display: flex;
  flex-direction: row;
  column-gap: 15px
}

.option {
  cursor: pointer;
}

.option a {
  text-decoration: none;
}

.option a:hover {
  color: #a57020;
}

.menu_inst path,
.menu_telega path {
  fill: #ccc9c5;
}

.menu_inst:hover path,
.menu_telega:hover path {
  fill: #a57020;
}

.open {
  display: flex !important;
  left: 0 !important;
}

.nav_media_icons {
  z-index: 2;
  display: flex;
  align-items: center;
  margin-right: 80px;
  column-gap: 20px;
}

.nav_inst{
  cursor: pointer;
}
.nav_telega {
  cursor: pointer;
}
.nav_media_icons a:hover svg path {
  fill: #a57020;
}

.main_section {
  position: relative;
  max-width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  /* padding-bottom: 100px; */
}

.main_img_container {
  width: 100%;
  overflow: hidden;
}

.main_video {
  width: 100vw;
  height: 100vh;
  z-index: 1;
  filter: brightness(0.7) contrast(1.2);
  transform: rotate(90deg) scale(2.2);
  margin: 70px 0;
  border-radius: 3px;
}

.main_brend_wrapper {
  z-index: 10;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: left;
  flex-direction: column;
  position: absolute;
  top: 60%;
}

.brend_wrapper path {
  transition-duration: 0.5s;
  z-index: 5;
}

.burger_media_icons {
  display: none;
}

@media (min-width: 1550px) {

  html {
    font-size: 18px;
  }
  
}

@media (max-width: 900px) {
  html {
    font-size: 15px;
  }
  .main_video {
    width: 100vw;
    height: 90vh;
    transform: rotate(90deg) scale(1.5);
  }
}

@media (max-width: 800px) {

  .menu {
    z-index: 200;
  }

  .nav_options {
    flex-direction: column;
    position: fixed;
    justify-content: center;
    width: 100%;
    top: 0px;
    bottom: 0;
    left: -100vw;
    right: 0;
    z-index: 205;
    overflow-y: auto;
    background-color: #040303f5;
    transition: all 0.4s ease;
    font-size: 1.5em;
    list-style: none;
    row-gap: 40px;
    margin: 0;
    align-items: center;
  }

  .nav_options.open .option:last-child {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    padding-top: 80px;
  }

  .dostavka, .sertificat{
    display: flex;
  }

  .follow_us {
    display: flex;
    font-size: 0.8em;
    color: #a19f9c;
  }

  .socials_container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 15px;
  }

  .socials_container svg{
    width: 35px;
    height: 35px;
  }

  .menu {
    justify-content: center;
    right: 80%;  
  }

  .burger_menu {
    right: 80%;
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: end;
    position: fixed;
    width: 90%;
    height: 50px;
    z-index: 1000;
    background-color: transparent;
    transition: all 0.5s ease-in-out;
  }

  .burger_menu::before, 
  .burger_menu::after, 
  .burger_menu span {
    content: '';
    position: absolute;
    height: 1.5px;
    width: 50px;
    background-color:  #929191;
    border-radius: 1px;
    transition: all 0.5s ease-in-out;
  }

  .burger_menu::before { top: 16.5px; }
  .burger_menu span { top: 23.5px; }
  .burger_menu::after { bottom: 17px; }

  .burger_menu.active span { 
    display: none;
  }

  .burger_menu.active::before {
    top: 50%;
    transform: rotate(-45deg) translate(0, -50%);
  } 

  .burger_menu.active::after {
    bottom: 50%;
    transform: rotate(45deg) translate(0, 50%);
  }
  
  .burger_menu.active {
    transition: all 0.5s ease-in-out;
    right: 10%;
  }
}

@media (max-width: 700px) {

  .main_video {
    width: 100vw;
    height: 100vh;
    transform: rotate(0deg) scale(2);
  }

  .main_brend_wrapper svg {
    width: 400px;
  }
}

@media (max-width: 600px) { 
  .main_brend_wrapper svg {
    width: 350px;
  }
}

@media (max-width: 500px) { 
  .main_video {
    height: 100vh;
    width: 100vw;
    margin: 0;
  }
  .main_brend_wrapper {
    top: 36%;
  }
  .main_brend_wrapper svg {
    width: 300px;
  }
}


@media (max-width: 390px) {
  .main_video {
    height: 100vh;
    margin: 0;
  }
  
  .main_brend_wrapper svg {
    width: 250px;
  }
}
