
/* .values_otstup {
  margin-bottom: 100px;
} */

.values_section{
  width: 100%;
  display: flex;
  flex-direction: row;
  row-gap: 50px;
}

.values_title_wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  position: relative;
}

.values_wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20vw, 1fr));
  grid-gap: 20px;
  justify-items: center;
  width: 100%;
  margin: 0 20px;
}

.value_item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.value_item img {
  max-width: 100%;
  filter: brightness(0.6);
  border-radius: 3px;
  border: 2px solid rgba(200, 177, 153, 0.612);
}

.value_item img:hover {
  filter: brightness(0.6);
}
.value_item:hover p {
  color: #c8bdabd6;
}

.value_item:hover {
  transform: scale(1.1);
  filter: grayscale(1) brightness(1);
}

.value_item_border {
  border: 1px solid rgba(200, 177, 153, 0.359);
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: none;
  border-radius: 3px;
  padding: 5px;
}

.value_item p {
  font-family: -webkit-body;
  color: #d7cebf7a;
  width: 100%;
  font-size: 1.2em;
  position: absolute;
  z-index: 5;
  text-align: center;
  transition-duration: 0.3s;
  font-weight: 300;
  margin: 0;
}

.catalog_button {
  display: none;
}


@media (max-width: 1265px) {
  .value_item p {
    font-size: 1em;
  }
}

@media (max-width: 900px) {
  .values_wrapper {
    margin: 0 50px;
    grid-template-columns: repeat(auto-fill, minmax(31vw, 1fr));
  }
}

@media (max-width: 700px) {
  .values_wrapper {
    margin: 0 20px;
    grid-template-columns: repeat(auto-fill, minmax(31vw, 1fr));
  }
}

@media (max-width: 600px) {
  .values_wrapper {
    margin: 0 20px;
    grid-template-columns: repeat(auto-fill, minmax(45vw, 1fr));
  }

  .value_item:hover {
    transform: scale(1);
    filter: grayscale(1) brightness(1);
  }
}

@media (max-width: 500px) {

  .values_section{
    flex-direction: column;
  }
  .values_wrapper{
    grid-template-columns: auto;
    padding-left: 25px;
    padding-right: 25px;
    margin: 0;
  }

  .catalog_button {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .catalog_btn {
    cursor: pointer;
    padding: 10px 50px;
    background: transparent;
    border: solid 1px #a99c89;
    text-align: center;
    font-weight: 400;
    transition-duration: 0.3s;
    z-index: 5;
    max-width: 400px;
    z-index: 0;
    animation-name: btn_move;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    transform: scale(1);
  }

  @keyframes btn_move {
    0% {
      -webkit-transform: scale(1);
      transform: scale(1);
    }
    50% {
      -webkit-transform: scale(1.1);
      transform: scale(1.1);
    }
    100% {
      -webkit-transform: scale(1);
      transform: scale(1);
    }
  }

  .catalog_btn a {
    text-decoration: none;
    color: #958977;
  }

}

@media (max-width: 450px) {

}