
/* .values_otstup {
  margin-bottom: 100px;
} */

.values_section{
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  margin-bottom: 150px;
  row-gap: 50px;
}

.values_title_wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  position: relative;
}

.values_wrapper {
  column-gap: 20px;
  row-gap: 20px;
  justify-content: center;
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fill, 600px);
  padding: 0 50px;
}

.value_item {
  position: relative;
  width: 100%;
}

.values_wrapper img {
  max-width: 600px;
  width: 600px;
  filter: brightness(0.5);
  z-index: 0;
  transition: 0.5s;
}

.values_wrapper img:hover {
  filter: grayscale(1) brightness(0.3);
}

.values_wrapper p {
  width: 100%;
  font-size: 2.5em;
  width: 450px;
  position: absolute;
  z-index: 5;
  margin: 200px 75px;
  text-align: center;
  transition-duration: 0.3s;
}


@media (max-width: 800px) {
  .values_wrapper p {
    margin: 200px 75px;
  }
}
@media (max-width: 700px) {
  
  .values_wrapper p {
    margin: 200px 75px;
  }
}

@media (max-width: 600px) {
  .values_wrapper {
    grid-template-columns: repeat(auto-fill, 500px);
  }

  .values_wrapper img {
    width: 500px;
  }

  .values_wrapper p {
    margin: 210px 35px;
    font-size: 2em;
  }
}

@media (max-width: 500px) {
  .values_wrapper img {
    width: 450px;
  }
  
  .values_wrapper {
    grid-template-columns: repeat(auto-fill, 450px);
  }
  
  .values_wrapper p {
    margin: 185px 3px;
    font-size: 2em;
    width: 100%;
  }
}

@media (max-width: 450px) {
  .values_wrapper img {
    width: 400px;
  }

  .values_wrapper {
    grid-template-columns: repeat(auto-fill, 400px);
  }
  .values_wrapper p {
    margin: 185px 0px;
    font-size: 1.5em;
    width: 100%;
  }
}